@page
@{
    /*@section scripts{
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }*/
}
@model ValidateTagHelperModel
<form asp-route-handler="Save" method="post">
    <p><input asp-for="Player.PlayerName" /></p>
    <!-- the following tag working on client validate to display the result message -->
    <p><span asp-validation-for="Player.PlayerName"></span></p>
    <p><input type="submit" /></p>
</form>
<h2>@Model.Msg</h2>
