@page
@model FormactionTagHelperModel
<!-- 
The formaction tag helper targets two elements:
1. Button
2. Input with a type attribute set to image or submit 
-->
<p><button asp-all-route-data="@Model.Dict">test asp-all-data</button> </p>
<!-- 不太明白这个taghelper的作用，不看下去了 -->