@page "{handler?}"
@model ViewComponentsPageModel

<h3>use viewcomponents</h3>
<form asp-route-handler="save" method="post">
    <vc:samples item-id="@Model.itemId"></vc:samples>
    <button>保存</button>
</form>
<h2>@Model.Message</h2>
@{

    ////or we can use
    ////the Component.InvokeAsync method to render the output of the view component to the page. 
    ////The string which is passed to the method represents the name of the view component 
    ////(the class name without the "ViewComponent" suffix).
    //@await  Component.InvokeAsync("Samples", "1101")
}
