@page "{handler?}"
@model AreasPageModel
<a asp-route-handler="gotoareaadminfuckinusers">Go To Area FukinUsers! by RedirectToPage</a>
<!--in this following asp-route-page="/Index" is not necessary -->
<a asp-route-page="/Index" asp-area="User" asp-page-handler="Shit">Go To Area Users !</a>